* {
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

// CLASE PARA LA ANIMACION DEL FONDO

.MainBack {
   animation-name: BackgroundMain;
   animation-duration: 2.7s;
   animation-fill-mode: forwards;
   background-image: url("/img/estrellas.png");
}

.button{
  display: none;
}

.icon {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 35px;
}

.Ctn-iconmsgSend {
  position: absolute;
  top: 10%;
  width: 3.6%;
  height: 50px;
  cursor: pointer;
  background-color: rgba(194, 195, 190, 0.7);
  border-radius: 10%;
  animation-name: MsgAnimSend;
  animation-duration: 1.7s;
}

.Ctn-iconmsg {
  position: absolute;
  top: 10%;
  width: 3.6%;
  height: 50px;
  cursor: pointer;
  background-color: rgba(194, 195, 190, 0.7);
  border-radius: 10%;
  animation-name: MsgAnim;
  animation-duration: 1.7s;
}

.Input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 38px;
  width: 90%;
  background-color: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(172, 172, 172);
  text-align: center;
  font-size: 20px;
}

.Ctn-inputmsg {
  position: absolute;
  top: 87%;
  left: 22.5%;
  width: 55%;
  bottom: 50%;
  background-color: rgba(194, 195, 190, 0.7);
  height: 100px;
  border-radius: 50px;
  animation-name: InputAnim;
  animation-duration: 1.7s;
}

.Ctn-inputmsgSend {
  position: absolute;
  top: 87%;
  left: 22.5%;
  width: 55%;
  bottom: 50%;
  background-color: rgba(194, 195, 190, 0.7);
  height: 100px;
  border-radius: 50px;
  animation-name: InputAnimSend;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
}

// Grid para los mensajes

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

//Animacion cuando se carga la pagina

@keyframes InputAnim {
  0% {
    top: 100%;
  }
  100% {
    top: 87%;
  }
}

//Animacion para cuando se envia el mensaje

@keyframes InputAnimSend {
  0% {
    top: 87%;
  }
  
  100% {
    top: 100%;
  }
}

//Animacion para que apareza el icono

@keyframes MsgAnimSend {
  0% {
    left: -3.6%;
  }
  100% {
    left: 0%;
  }
}

//Animacion para que desapareza el icono

@keyframes MsgAnim {
  0% {
    left: 0%;
  }
  100% {
    left: -3.6%;
  }
}

//Animacion del fondo de pantalla

@keyframes BackgroundMain {
  0% {
    background-color: black;
  }
  100% {
    background-color: #2a2a28;
  }
}

// MENSAJES

.CtnM {
  position: absolute;
  margin-top: 30px;
  border-radius: 10px;
  width: 12%;
  height: 80px;
  background-color: rgba(194, 195, 190, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: Mensaje;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



//Animacion para que se muestren los mensajes

@keyframes Mensaje {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@media only screen and (max-width: 900px) { 

  // Cambios de tamaño en el input 

  .Input{
      display: block;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      margin-top: 15px;
      width: 90%;
      background-color:transparent;
      outline: none;
      border: 0;
      border-bottom: 1px solid rgb(172, 172, 172);
      text-align: center;
      font-size: 15px;
  }
  
  .Ctn-inputmsg{
      height: 50px;
      border-radius: 50px;
      animation-name: InputAnim;
      animation-duration: 1.7s;
  }

  .Ctn-inputmsgSend {
      height: 50px;
      animation-name: InputAnimSend;
      animation-duration: 1.7s;
    
  }

  // Cambios de tamaño en el mensaje

  .CtnM {
      position: absolute;
      margin-top: 10px;
      border-radius: 10px;
      width: 25%;
      height: 40px;
      background-color: rgba(194, 195, 190, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      animation-name: Mensaje;
      animation-duration: 7s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

  // Texto del mensaje
    
  .text{
      font-size: 12px;
      text-align: center;
      margin: auto;
  }

  .Ctn-iconmsgSend {
      position: absolute;
      top: 10%;
      width: 12%;
      height: 40px;
      cursor: pointer;
      background-color: rgba(194, 195, 190, 0.7);
      border-radius: 10%;
      animation-name: MsgAnimSend;
      animation-duration: 1.7s;
    }

    //Boton enviar

    .icon {
      margin-left: 0.4rem;
      margin-top: 0.4rem;
      font-size: 25px;
    }

    .button{
      border: none;
      display: block;
      position: absolute;
      top: 87%;
      left: 80%;
      width: 12%;
      bottom: 50%;
      background-color: rgba(194, 195, 190, 0.7);
      height: 50px;
      border-radius: 50%;
      animation-name: InputAnim;
      animation-duration: 1.7s;
    }

  

    //Animacion del boton cuando se da click

    @keyframes click {
      0%{
        transform: scale(1);
      }
      50%{
        transform: scale(1.4);
      }
      100%{
        transform: scale(1);
      }
    }

    .buttonSend{
      border: none;
      display: block;
      position: absolute;
      top: 87%;
      left: 80%;
      width: 12%;
      bottom: 50%;
      background-color: rgba(194, 195, 190, 0.7);
      height: 50px;
      border-radius: 50%;
      animation-name: InputAnimSend;
      animation-duration: 1.7s;
      animation-fill-mode: forwards;
    }
   

    .img{
      display: block;
      margin-left: 15%;
      margin-top: 5px;
      width: 60%;
      height: 60%;
      
    }
}
