<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script
      src="https://kit.fontawesome.com/0ad8147108.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap"
      rel="stylesheet"
    />

  </head>

  <body>
    <main>
      <section class="MainBack">
        <div id="Grid-ctn" class="grid">

        </div>
      </section>
      <section>
        <!--  Icono mensaje -->
        <div id="IconMsg">
          <i class="far fa-comments icon"></i>
        </div>
      </section>
      <!-- Mensajes -->
      <section>
        <!-- Input mandar mensaje -->
        <div id="Ctn-Msg" class="Ctn-inputmsg">
          <input
            id="input"
            class="Input"
            type="text"
            name="text"
            placeholder="Escriba su mensaje"
          />
        </div>
         <button class="button" id="img">
                <img class="img"  src="/img/klipartz.com.png" alt="Boton enviar">
            </button>
      </section>
    </main>
  </body>
  <script src="/js/index.js"></script>

</html>